# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment
.env

# Django
db.sqlite3
media/
staticfiles/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test
.coverage
.pytest_cache/
htmlcov/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# UV
uv.lock